* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: "Heebo", sans-serif;
  overflow: hidden;
}

.big-text {
  position: absolute;
  top: 30%;
  left: 48%;
  transform: translate(-50%, -30%);
  font-size: 3rem;
  font-family: "Lobster", cursive;
  color: rgb(61, 61, 61);
}

.intro {
  z-index: 99;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.hide {
  background: black;
  overflow: hidden;
}

.hide svg {
  transform: translateY(100%);
  display: inline-block;
}

.icon-pic img {
  height: 10vh;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 1s ease forwards 3s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 999px;
  stroke-dashoffset: 999;
  animation: line-anim 3s ease forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray: 999px;
  stroke-dashoffset: 999px;
  animation: line-anim 3s ease forwards 0.4s;
}

#logo path:nth-child(3) {
  stroke-dasharray: 999px;
  stroke-dashoffset: 999px;
  animation: line-anim 3s ease forwards 0.8s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 999px;
  stroke-dashoffset: 999px;
  animation: line-anim 3s ease forwards 1.2s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 999px;
  stroke-dashoffset: 999px;
  animation: line-anim 3s ease forwards 1.5s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 999px;
  stroke-dashoffset: 999px;
  animation: line-anim 3s ease forwards 1.8s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 999px;
  stroke-dashoffset: 999px;
  animation: line-anim 3s ease forwards 2.1s;
}



@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@media (max-width: 700px) {
  #logo {
    width: 300px;
  }
}

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}

@media screen and (max-width: 780px) {
  .landing {
    min-height: 100vh;
    background-color: black;
    padding: 0rem 5rem;
  }
  .big-text {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    font-family: "Lobster", cursive;
    color: rgb(61, 61, 61);
  }
}
